<h2> make a new HOliday, yes you can POWERFUL</h2>

<!--  ACTION // ROUTE // PATH-->
<form action="/holidays" method="post">
  Name:<input type="text" name="name" placeholder="type in a name please">
  days:<input type="number" name="days" placeholder="word">
  hero:<input type="text" name="hero" value="true">
  <input type="submit" value=" submit THAT FORM">
</form>
