<h2> NEW TRAINER sign up! NOWW</h2>


<form action="/trainers" method="post">
  trainer name:<input type="text" name="t_name" placeholder="give me a trainer name">
  Badges? <input type="number" name="badges" value="0">
  <input type="submit" value="this is what comes out on the website">
</form>
