<h1> Players!!!! </h1>

<% @players.each do |player| %>
  Name: <%= link_to player.name, player_path(player) %>
  Hair Color: <%= player.hair_color %>
  <!-- <%= link_to "Player!", player_path(player) %> -->
  <br>
<% end %>
