body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

#pokemon-search-form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

#pokemon-search-input {
  font-size: 3rem;
  border: 3px solid #fecd2f;
  color: #2d72fc;
}

#pokemon-logo {
  width: 300px;
  margin-left: 330px;
}

#overlay {
  visibility: hidden;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  z-index: 1000;
  background-color: rgb(245, 245, 250);
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.pokemon-container {
  float: left;
  width: 250px;
  margin: auto;
}

.center-text {
  text-align: center;
}

.flip-image {
  color: #2d72fc;
}

.is-blurred * div:not(#overlay) {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.form{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form textarea:focus,
.form select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form input[type="submit"],
.form input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}
.form input[type="submit"]:hover,
.form input[type="button"]:hover{
	background: #2EBC99;
}
