/*.App-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  background-color: #222;
  color: white;
}
.botIcon {
  position: absolute;
  left: -2vw;
  top: -3vh;
}
.title {
  font-size: 250%;
  position: relative;
  left: 5vw;
  padding: 0.5em;
  margin: 0;
}
.subtitle {
  font-style: italic;
  position: relative;
  left: 3vw;
  color: #bbb;
}

.botArmy {
  position: absolute;
  top: 40px;
  height: 180px;
  width: 100vw;
  background: #666;
}
.botCollection {
  position: absolute;
  top: 220px;
  height: 300px;
  width: 100vw;
  background: #222;
}
.botCard {
  height: 100%;
}

span {
  padding: 1em;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid>.row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}